<div style="background-color: #ffffff; display: flex; flex-direction: row; justify-content: space-around; padding: 1em;">
    <div>
        <h3 style="color: #192841">Interesting News</h3>
        <ul>
            <li style="color: #192841"><a style="color: #192841" href="https://www.coindesk.com">Cryptocurrency</a></li>
            <li style="color: #192841"><a style="color: #192841" href="https://www.investopedia.com/terms/t/trade-credit.asp">Trade credit</a></li>
            <li style="color: #192841"><a style="color: #192841" href="https://www.centralbank.go.ke/securities/treasury-bills/">Treasury bills</a></li>
            <li style="color: #192841"><a style="color: #192841" href="https://www.centralbank.go.ke/rates/forex-exchange-rates/">Foreign Exchange</a></li>
        </ul>
    </div>
    <div>
        <h3 style="color: #192841">Contacts</h3>
        <p style="color: #192841">Mobile number:+254791417147</p> <br>
        <p style="color: #192841">Email:timohmugendi@gmail.Com</p> <br>
        <p style="color: #192841">work info: TimSoftwaredevelopers@info.com</p>

    </div>
    <div>
        <h3 style="color: #192841">More</h3>
        <p style="color: #192841" >Resources</p> <br>
        <p style="color: #192841">Our services</p> <br>
        <p style="color: #192841">Appointments</p> <br>
    </div>
</div>