<div style="background-color: #ffffff; display: flex; flex-direction: row; justify-content: space-around; padding: 1em;">
    <div>
        <h3 style="color: #192841">Interesting News</h3>
        <ul>
            <li style="color: #192841"><a style="color: #192841" href="https://www.loc.gov/rr/main/olympics/dates.html">Olympics</a></li>
            <li style="color: #192841"><a style="color: #192841" href="https://olympics.com/ioc/beijing-2022">Beijing</a></li>
            <li style="color: #192841"><a style="color: #192841" href="https://www.history.com/news/why-is-a-marathon-26-2-miles">Marathon</a></li>
            <li style="color: #192841"><a style="color: #192841" href="https://www.athleticskenya.or.ke/">Kenyan Athletes</a></li>
        </ul>
    </div>
    <div>
        <h3 style="color: #192841">Contacts</h3>
        <p style="color: #192841">Mobile number:+254791417147</p> <br>
        <p style="color: #192841">Email:timohmugendi@gmail.Com</p> <br>
        <p style="color: #192841">work info: TimSoftwaredevelopers@info.com</p>

    </div>
    <div>
        <h3 style="color: #192841">More</h3>
        <p style="color: #192841" >Resources</p> <br>
        <p style="color: #192841">Our services</p> <br>
        <p style="color: #192841">Appointments</p> <br>
    </div>
</div>